@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Karla, sans-serif;
}

.primary-typo {
    @apply tracking-widest font-semibold opacity-60 text-xs;
}

// fonts

@font-face {
    font-family: Karla;
    src: url('./assets/fonts/karla_normal.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Karla_italic;
    src: url('./assets/fonts/karla_italic.woff2');
    font-weight: 400;
}
